

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f8f9;
    margin: 0;
}

header {
    background-color: #fff;
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 40px;
}

.main-wrapper {
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #dedede;
    border-radius: 8px;
}

main {
}

header h1 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

header .logo {
    margin-left: 20px;
    vertical-align: middle;
}

.actions, .body {
    margin: 10px 50px;
}

.body {
    margin-top: 50px;
}

button {
    color: white;
    border: 1px solid #ccc;
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 5px;
}

.actions button.active {
    background-color: #47adf1;
    color: white;
}

.actions button {
    color: #ccc;
    background-color: #fff;
}

hr {
    border: 1px solid #f6f8f9;
}



.body h3::before {
    content: "\25BE";
    margin-right: 8px;

}


ol {
    padding: 0;
    margin-bottom: 30px;
}

ol li {
    margin-bottom: 20px;
}

li.done, li.undone {
    list-style-type: none;
}

li.done:before {
    content: "\2713";
    color: #64c0a9;
    border: 1px solid #64c0a9;
    background-color: white;
    border-radius: 50%;
    font-size: 80%;
    padding: 4px;
    width: 10px;
    height: 10px;
    display: inline-block;
    line-height: 10px;
    margin-right: 8px;
    cursor:pointer;
    text-align: center;
}



li.undone:before {
    content: "\2717";
    color: #f03832;
    border: 1px solid #f03832;
    background-color: white;
    border-radius: 50%;
    font-size: 80%;
    padding: 4px;
    width: 10px;
    height: 10px;
    display: inline-block;
    line-height: 10px;
    margin-right: 8px;
    cursor:pointer;
    text-align: center;
}


.body li[tag]::after {
    content: attr(tag);
    margin-left: 5px;
    font-size: 10px;
    display: inline-block;
    border-radius: 8px;
    padding: 4px 6px;
    color: white;
    text-transform: capitalize;
}


[tag='editorial']::after{
    background-color: #45abea;
}

[tag='q1 goals']::after {
    background-color: #9c72e4;
}

[tag='recruiting']::after {
    background-color: #64c0a9;
}

[tag='mobile']::after {
    background-color: #f29e33;
}

[tag='website']::after {
    background-color: #d863a1;
}

[tag='sales']::after {
    background-color: #b0c926;
}

